@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    min-height: 100vh !important;
    min-width: 100vw !important;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

#root {
    min-height: 100vh;
    width: 100vw;
    margin: 0 auto;
    padding: 0;
    background: #f0f2f5;
}

h5 {
    font-family: 'Dancing Script', cursive !important;
    margin-right: 4rem !important;
    margin-left: 3rem !important;
}

.animate__zoomIn {
    animation-duration: .3s;
}

#card {
    position: relative;
    box-shadow: 0px 0px 6px 5px lightgrey;
}

#avatar-image {
    width: 5rem;
    height: 5rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

#search-input {
    padding: .6rem 5rem .6rem 3.5rem;
    color: white !important;
}

@media only screen and (max-width: 600px) {
    #users-container {
        padding-top: 4rem !important;
    }
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #0879eaa1;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #087aea;
}